body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #eaeaea;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
}

.job-btn {
    background-color: #fc6;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.job-description h1 {
    color: #3b8850;
}

.job-description h2 {
    color: #7b7b7b;
    margin-top: 20px;
}

.job-description ul {
    list-style-type: disc;
    margin: 10px 0 10px 20px;
    padding: 0;
}

.job-application {
    margin-top: 40px;
}

.job-application h2 {
    color: #3b8850;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input[type="file"] {
    padding: 3px;
}

button[type="submit"] {
    background-color: #3b8850;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

button[type="submit"]:hover {
    background-color: #329944;
}